extends _bootstrap
block body
    +navbar("MySafety calls log","dropdown_menu","inverse")
        +nav_item("list") List
        +nav_item("calls","active") Calls
        +nav_item("users") Users
        +nav_item("index") Index