extends _bootstrap
block body
    +navbar("MySafety calls log","dropdown_menu","inverse")
        +nav_item("list","active") List
        +nav_item("calls") Calls
        +nav_item("users") Users
        +nav_item("index") Index

    
    - var droids = [];

    for t in tab
        - var l = [];
        for r in t
            - l.push(r);
        - droids.push(l);
        - console.log(l);
    - console.log(droids);

    +table-striped(["#","First Name","Last Name","Username"],droids)
 
    #{tab}
    