.panel {
  width: 80%;
  min-width: 300px;
  margin: auto;
}

.a {
  background-color: burlywood;
  align-self: center;
  align-content: center;
}

.inp {
  min-width: 150px;
  border-color: #ECECEC;
  width: 75%;
  border-style: solid;
  border-width: 1px;
}

.sub {
  background-color: #EEEEEE;
  border-color: #ECECEC;
  border-style: solid;
  border-width: 1px;
}

.form {

}

.aud {
  width: 100%;
  border-color: #C0C0C0;
  border-style: solid;
  border-width: 1px;
}